In [1]:
import pandas as pd

# Dữ liệu SOTA: ImbalancedBugLoc
data = {
    "Project": ["AspectJ", "Tomcat", "Eclipse", "SWT", "Birt"],
    "Top1_SOTA": [52.5, 53.2, 48.1, 40.2, 28.3],
    "Top2_SOTA": [68.7, 65.5, 62.1, 54.9, 39.3],
    "Top3_SOTA": [77.2, 71.0, 68.8, 64.2, 45.7],
    "Top4_SOTA": [81.0, 75.0, 73.0, 69.3, 51.0],
    "Top5_SOTA": [83.8, 78.3, 76.7, 73.4, 53.6],
    "Top10_SOTA": [89.0, 85.6, 84.7, 84.8, 63.2],
    "Top15_SOTA": [91.5, 88.9, 87.8, 89.1, 69.2],
    "MRR_SOTA": [0.66, 0.64, 0.60, 0.55, 0.40],
    "MAP_SOTA": [0.50, 0.59, 0.54, 0.50, 0.32],
    "Top1_New": [61.90, 56.75, 66.30, 60.63, 45.97],
    "Top2_New": [71.13, 69.58, 78.20, 74.70, 59.04],
    "Top3_New": [76.19, 77.48, 83.35, 81.28, 66.60],
    "Top4_New": [80.06, 82.71, 86.71, 84.77, 71.74],
    "Top5_New": [82.74, 85.79, 89.13, 87.49, 75.62],
    "Top10_New": [88.39, 92.90, 94.38, 93.91, 85.76],
    "Top15_New": [91.07, 94.90, 96.19, 96.07, 90.50],
    "MRR_New": [0.7109, 0.6899, 0.7644, 0.7183, 0.5921],
    "MAP_New": [0.5367, 0.4946, 0.5692, 0.4669, 0.3734]
}

# Tạo DataFrame từ dữ liệu
df = pd.DataFrame(data)

# Tách thành hai bảng: SOTA và New Model
df_sota = df[["Project", "Top1_SOTA", "Top2_SOTA", "Top3_SOTA", "Top4_SOTA", "Top5_SOTA", 
              "Top10_SOTA", "Top15_SOTA", "MRR_SOTA", "MAP_SOTA"]].copy()
df_sota["Model"] = "SOTA"

df_new = df[["Project", "Top1_New", "Top2_New", "Top3_New", "Top4_New", "Top5_New", 
             "Top10_New", "Top15_New", "MRR_New", "MAP_New"]].copy()
df_new["Model"] = "New Model"

# Đổi tên cột giống bảng trong ảnh
rename_cols = {
    "Top1_SOTA": "1", "Top2_SOTA": "2", "Top3_SOTA": "3", "Top4_SOTA": "4",
    "Top5_SOTA": "5", "Top10_SOTA": "10", "Top15_SOTA": "15", "MRR_SOTA": "MRR", "MAP_SOTA": "MAP",
    "Top1_New": "1", "Top2_New": "2", "Top3_New": "3", "Top4_New": "4",
    "Top5_New": "5", "Top10_New": "10", "Top15_New": "15", "MRR_New": "MRR", "MAP_New": "MAP"
}

df_sota.rename(columns=rename_cols, inplace=True)
df_new.rename(columns=rename_cols, inplace=True)

# Gộp lại
df_combined = pd.concat([df_sota, df_new], axis=0)
df_combined = df_combined.sort_values(by=["Project", "Model"]).reset_index(drop=True)

# Đưa cột 'Model' về sau 'Project'
cols = df_combined.columns.tolist()
cols.insert(1, cols.pop(cols.index('Model')))
df_combined = df_combined[cols]

# Hiển thị kết quả
df_combined

,Project,Model,1,2,3,4,5,10,15,MRR,MAP
0,AspectJ,New Model,61.90,71.13,76.19,80.06,82.74,88.39,91.07,0.7109,0.5367
1,AspectJ,SOTA,52.50,68.70,77.20,81.00,83.80,89.00,91.50,0.6600,0.5000
2,Birt,New Model,45.97,59.04,66.60,71.74,75.62,85.76,90.50,0.5921,0.3734
3,Birt,SOTA,28.30,39.30,45.70,51.00,53.60,63.20,69.20,0.4000,0.3200
4,Eclipse,New Model,66.30,78.20,83.35,86.71,89.13,94.38,96.19,0.7644,0.5692
5,Eclipse,SOTA,48.10,62.10,68.80,73.00,76.70,84.70,87.80,0.6000,0.5400
6,SWT,New Model,60.63,74.70,81.28,84.77,87.49,93.91,96.07,0.7183,0.4669
7,SWT,SOTA,40.20,54.90,64.20,69.30,73.40,84.80,89.10,0.5500,0.5000
8,Tomcat,New Model,56.75,69.58,77.48,82.71,85.79,92.90,94.90,0.6899,0.4946
9,Tomcat,SOTA,53.20,65.50,71.00,75.00,78.30,85.60,88.90,0.6400,0.5900

In [3]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Xuất ra file Excel
df_combined.to_excel("model_comparison.xlsx", index=False)